---
import { site } from "../data/site";
---

<footer class="site-footer">
  <div class="site-footer__inner">
    <p>个人项目与技术记录，聚焦机器人、三维视觉与工程实践。</p>
    <div class="tag-list">
      <a class="tag" href={site.social.github}>GitHub</a>
      <a class="tag" href={site.social.zhihu}>知乎</a>
      <a class="tag" href="/rss.xml">RSS</a>
    </div>
  </div>
</footer>
